<%- include('layout/header') %>

<div class="page-wrapper">
    <div class="container-xl">

        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">Overview</div>
                <h2 class="page-title">Dashboard</h2>
            </div>
            <!-- Page title actions -->
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="dropdown btn-list">
                    <button type="button" class="btn dropdown-toggle text-muted " data-bs-toggle="dropdown">
                    <i class="ti ti-file-plus  fs-h3 me-2"></i> New Transaction
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item text-muted mt-1" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart"> <i class="ti ti-file-invoice fs-h3 me-2"></i>
                        Create Bill 
                    </a>
                    <a class="dropdown-item text-muted mt-1" data-bs-toggle="offcanvas" href="#offcanvasStart2" role="button" aria-controls="offcanvasStart"> 
                        <i class="ti ti-building-bank fs-h3 me-2"></i>
                        Pay Supplier 
                    </a>
                    </div>
                </div>
            </div>

            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
            <div class="offcanvas-header">
              <h2 class="offcanvas-title" id="offcanvasStartLabel">Select Supplier</h2>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">

              <% if (suppFound != '') { %>

                  <form id="billForm" name="billForm">
                   
                      <%suppFound.forEach(function(supp){%>
                      <label class="form-selectgroup-item flex-fill">
                        <input type="radio" name="supplier" value="<%=supp._id%>" class="form-selectgroup-input" required/>
                        <div class="form-selectgroup-label d-flex align-items-center p-3">
                          <div class="me-3">
                            <span class="form-selectgroup-check"></span>
                          </div>
                          <div>
                            <%=supp.supplier_name%>
                          </div>
                        </div>
                      </label>
                      <%})%>
                  <div class="mt-4 text-end">
                   
                      <a href="" class="btn btn-primary w-50 fs-h3 createBill" > Create bill <i class="ti ti-chevron-right fs-h3 ms-2"></i></a>
                   
                  </div>
                    </form>
                    
               <% } else { %>   

                    <div class="empty">
                      <div class="text-center  my-5">
                        <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                        <h1 class="text-secondary">Ohh!</h1>
                        <p class="text-secondary"> No supplier found in the database!</p>
                      </div>
                      <div class="empty-action">
        
                        <a  href="/supplier-accounts" class="btn btn-primary">
                          <i class="ti ti-plus fs-h4 fw-light me-2"></i>
                         Create supplier account
                        </a>
                      </div>
                    </div>

                 <% } %> 
                </div>
              </div>
            </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-status-bottom bg-yellow"></div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <div class="fw-bold fs-h2">
                    <%=  voucherItems.length %>
                  </div>
                  <div class="text-muted">
                    Total Transactions
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-orange-lt avatar fs-h2 ">
                    <i class="ti ti-list-numbers"></i>
                   </span>
                </div>
              </div>
            </div>
          </div>
        </div>
            
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <!-- <div class="card-status-start bg-blue"></div> -->
            <div class="card-body">
             
              <div class="row align-items-center">
            
                <div class="col">
                  <div class="fw-bold fs-h2">
                    <span class="text-muted fs-h5 fw-normal">QAR</span>
                    <% if (voucherItems != '') { %>

                        <%  var sumOfCC = 0 %>
                        <%  voucherItems.forEach(function(item){ %>
                          <%  if(item.payment_mode !="Bank Transfer"){ %>
                          <%  sumOfCC += + item.total_payment %>
                          <% } %>
                          <%  }) %>
                        
                          <%= (sumOfCC).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                      <% } else { %>
                        0.0
                      <% } %> 
                  </div>
                  <div class="text-muted">
                    Total Cash and Cheque
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-green-lt avatar fs-h2 ">
                    <i class="ti ti-cash-banknote"></i>
                   </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <!-- <div class="card-status-top bg-blue"></div> -->
              <div class="row align-items-center">
            
                <div class="col">
                 
                  <div class="fw-bold fs-h2">
                    <span class="text-muted fs-h5 fw-light">QAR</span>
                    <% if (voucherItems != '') { %>

                        <%  var sumOfBT = 0 %>
                        <%  voucherItems.forEach(function(item){ %>
                          <%  if(item.payment_mode ==="Bank Transfer"){ %>
                          <%  sumOfBT += + item.total_payment %>
                          <% } %>
                          <%  }) %>
                          <%= (sumOfBT).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                   
                      <% } else { %>
                        0.0
                      <% } %> 
                  </div>
                  <div class="text-muted">
                    Total Bank Transfer
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-green-lt avatar fs-h2 ">
                    <i class="ti ti-cash-banknote"></i>
                   </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-status-bottom bg-green"></div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <div class="fw-bold fs-h2">
                    <span class="text-muted fs-h5 fw-normal">QAR</span>
                    <% if (voucherItems != '') { %>
                      
                        <%  var sumOfTotal = 0 %>
                        <%  voucherItems.forEach(function(item){ %>
                          <%  sumOfTotal += + item.total_payment %>
                          <%  }) %>
                          <%=  (sumOfTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                  
                     <% } else { %>
                        0.0
                      <% } %> 
                  </div>
                  <div class="text-muted">
                    Total Withdrawal
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-green-lt avatar fs-h2 ">
                    <i class="ti ti-cash"></i>
                   </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <h3 class="card-title">Expenses</h3>
                <div class="ms-auto">
                  <h4 class="text-muted">Current Year - 2022</h4>
                </div>
              </div>
              <div id="chart-tasks-overview"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
                <h3>Cost Centers Expenses - 2022</h3>
            </div>
            <div class="table-responsive"  style="max-height: 18rem">
             <% if (foundcC != 0) { %>
              <table class="table card-table table-vcenter">
              <thead>
                <tr>
                  <th>Cost Center</th>
                  <th class="text-end">Total</th>
                  <!-- <th class="text-end"> <%-  new Date().toLocaleDateString("en-US", { month: 'long' }) %></th> -->
                </tr>
              </thead>
              <tbody>
                <%foundcC.forEach(function(cc){%>
                  <% if(cc.subTotal>0){%>
                <tr>
                  <td><%=cc.cost_center%></td>
                  <td class="text-end text-muted fs-h5 text-nowrap">
                    QAR
                     <div class="text-warning d-md-inline-flex fs-h3 ms-1"><%=(cc.subTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></div>
                   </td>
                </tr>
                <%}%>
                <%})%>
              </tbody>
            </table>
            <% } else { %>
              <div class="text-center  my-5">
                <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                <h3 class="text-secondary"> No bill created!</h3>
              </div>
             <% } %> 
          </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header hd-right">
              <div class="row row-cards">
           
                <div class="d-flex">
                  <h3>Transactions</h3>
                  <div class="ms-auto text-muted">
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                      </span>
                      <input type="text" id="searchPV"  class="form-control" placeholder="Search here…" aria-label="Search">
                    </div>   
                  </div>
                </div>

              </div>
            </div>
            <div class="card-table table-responsive">

              <div class="table-responsive"  style="max-height: 30rem">
                <% if (voucherItems != '') { %>
                <table class="table card-table table-vcenter text-nowrap datatablee">
                  <thead>
                    <tr>
                      <th>Transaction  No</th> 
                      <th> Date</th>
                      <th>Payment From</th>
                      <th>Payment Mode</th>
                      <th>Description</th>
                      <th>Amount</th>
                      <th>Created By</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody id="payVoucher" >
                    <%  voucherItems.forEach(function(item){ %>
                    <tr>
                      <td>
                       
                          <a href="/print-voucher/<%= item._id %>" class="btn btn-outline-secondary w-70 btn-sm " data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Print Payment Voucher">
                          
                            <%=item.payment_voucher_no%>
                          </a>
 
                      </td>
                      <td >
                          <%=(new Date(item.date).toLocaleDateString("en-US", {year: 'numeric', day: 'numeric', month: 'short' })) %>
                      </td>
                      <td>
                        <%=item.payment_from%>
                      </td>
                      <td>
                        <% if(item.payment_mode ==="Bank Transfer"){%>
                            <%=item.payment_mode%>
                            <a href="/print-letter/<%= item._id%>"  class="btn btn-action w-1 btn--small"  role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Print Bank Letter">
                              <i class="ti ti-clipboard-text"></i>
                            </a>
                        <%}else{ %>
                          <%=item.payment_mode%>
                          <% } %>
                      </td>
                      <td class="text-capitalize">
                        <%=item.description.substring(0, 20)%>
                        <a class="cursor-pointer"  role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="<%=item.description%>">
                        ...
                        </a>
                      </td>

                      <td class="text-nowrap text-muted fs-h5">
                       QAR
                        <div class="text-warning d-md-inline-flex fs-h3 ms-1"> <%= (item.total_payment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></div>
                      </td>
                      <td>
                        <%=item.created_by%>
                      </td>
                      <td>
                        <span class="status status-red fs-h5">
                          <%= (item.status)%>
                        </span>
                      </td>
                    </tr>
                    <%  }) %>
                  </tbody>
                </table>
                <% } else { %>
                  <div class="text-center  my-5">
                    <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                    <h1 class="text-secondary">Ohh!</h1>
                    <p class="text-secondary"> No payment transaction found in the database!</p>
                  </div>
              <% } %> 
              </div>
              <div class="card-footer d-flex align-items-center">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart2" aria-labelledby="offcanvasStartLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasStartLabel">Select Supplier</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
     
        <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
        
          <%  if(suppPay.length == 0){%>

            <div class="empty">
              <div class="empty-img"><img src="./static/illustrations/emptydocument-svgrepo-com.svg" height="128" alt="">
              </div>
              <p class="empty-title">No Bill Created </p>
              <p class="empty-subtitle text-muted">
               Create suppler purchase bill first.
              </p>
              <div class="empty-action">

                <a  class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
                  <i class="ti ti-plus fs-h4 fw-light me-2"></i>
                 Create purchase bill
                </a>

              </div>
            </div>

            <% }else{%>
          <%suppPay.forEach(function(pay){%>
            <form id="payForm" name="payForm">
              <label class="form-selectgroup-item flex-fill">
                <input type="radio" name="form-payment" value="<%=pay._id%>" class="form-selectgroup-input" required/>
                <div class="form-selectgroup-label d-flex align-items-center p-3">
                  <div class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </div>
                  <div>
                    <%=pay.supplier_name%>
                    <a href="#" class="ms-1 fs-h5" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Bill Created">

                    <span class="badge bg-orange ms-2"><%= parseFloat(pay.created_bills) %></span>
                    </a>
                  </div>
                </div>
              </label>
              <%})%>
              <div class="mt-4 text-end">
                  <a href="" class="btn btn-primary w-50 fs-h3 payBill" > Pay Supplier <i class="ti ti-chevron-right fs-h3 ms-2"></i></a>
              </div>
                </form>
              </div>
          <%}%>
        </div>
    </div>

    <script>
        $(document).ready(function(){

          $("#billForm").on("click",function() { 
            var radVal =   $("input[name='form-payment']:checked").val();
                $("a.createBill").attr("href","create-bill/"+radVal)
             
            });

            $("#payForm").on("click",function() { 
            var radVal =   $("input[name='form-payment']:checked").val();
                $("a.payBill").attr("href","pay-bill/"+radVal)
               
            });
      });
     </script>

    <script>
      $(document).ready(function(){
        $("#searchPV").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#payVoucher tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>

      <script>

             let dataArray = [];
             let [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec] =  Array(12).fill(0); 

       
    ' <% if (voucherItems != "") { %>'

       '<%  voucherItems.forEach(function(item){ %>'
         
        var dMonth = new Date('<%=item.date%>').getMonth() + 1;

        if (dMonth === 1){
         
          jan += + '<%=item.total_payment%>'

        }else if(dMonth === 2){

          feb += + '<%=item.total_payment%>'

        }else if(dMonth === 3){

          mar += + '<%=item.total_payment%>'

        }else if(dMonth === 4){

          apr += + '<%=item.total_payment%>'

        }else if(dMonth === 5){

          may += + '<%=item.total_payment%>'

        }else if(dMonth === 6){

          jun += + '<%=item.total_payment%>'

        }else if(dMonth === 7){

          jul += + '<%=item.total_payment%>'

        }else if(dMonth === 8){

          aug += + '<%=item.total_payment%>'

        }else if(dMonth === 9){

          sep += + '<%=item.total_payment%>'

        }else if(dMonth === 10){

          oct += + '<%=item.total_payment%>'

        }else if(dMonth === 11){

          nov += + '<%=item.total_payment%>'

        }else if(dMonth === 12){

          dec += + '<%=item.total_payment%>'

        }
        
        ' <%  }) %>'
        ' <%  } %>'
            
              dataArray[0] = jan;
              dataArray[1] = feb;
              dataArray[2] = mar;
              dataArray[3] = apr;
              dataArray[4] = may;
              dataArray[5] = jun;
              dataArray[6] = jul;
              dataArray[7] = aug;
              dataArray[8] = sep;
              dataArray[9] = oct;
              dataArray[10] = nov;
              dataArray[11] = dec;



       document.addEventListener("DOMContentLoaded", function () {
           window.ApexCharts && (new ApexCharts(document.getElementById('chart-tasks-overview'), {
               chart: {
                   type: "line",
                   dropShadow: {
                                  enabled: true,
                                  color: '#000',
                                  top: 18,
                                  left: 7,
                                  blur: 10,
                                  opacity: 0.3
                                },
                   fontFamily: 'inherit',
                   height: 300,
                   parentHeightOffset: 0,
                   toolbar: {
                       show: false,
                   },
                   animations: {
                       enabled: true
                   },
                   
               },
               dataLabels: {
                   enabled: true,
               },
               fill: {
                   opacity: 1,
               },
               stroke: {
               width: 2,
               lineCap: "round",
               curve: "smooth",
             },
               series: [{
                   name: "Total Expenses",
                  
                   data: dataArray
               }],
               grid: {
                   padding: {
                       top: -20,
                       right: 0,
                       left: -4,
                       bottom: -4
                   },
                   strokeDashArray: 4,
               },
               xaxis: {
               
                  
                   labels: {
                       padding: 0,
                   },
                   tooltip: {
                       enabled: true
                   },
                   axisBorder: {
                       show: true,
                   },
                  
                 
                   categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                   title: {
                            text: 'Month'
                          },
                        
                  },
                
               yaxis: {
                title: {
                          text: 'AMOUNT'
                        },
                   labels: {
                               formatter: function(number) {
                                   var SI_SYMBOL = ["", "K", "M", "G", "T", "P", "E"];
                             // what tier? (determines SI symbol)
                               var tier = Math.log10(Math.abs(number)) / 3 | 0;
   
                           // if zero, we don't need a suffix
                           if(tier == 0) return number;
   
                           // get suffix and determine scale
                           var suffix = SI_SYMBOL[tier];
                           var scale = Math.pow(10, tier * 3);
   
                           // scale the number
                           var scaled = number / scale;
   
                           // format number and add suffix
                           return scaled.toFixed(1) + suffix;
                               }
                           },
               },
               colors: ["#f59f00"],
               legend: {
                   show: false,
               },
           })).render();
       });
       // @formatter:on
     </script>

<%- include('layout/footer') %>