
<%- include('layout/header') %>

<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Bank Letter
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <button type="button" class="btn btn-primary" onclick="javascript:window.print();">
            <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><rect x="7" y="13" width="10" height="8" rx="2" /></svg>
            Print Letter
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="card card-lg">
        <div class="card-body p-5">
          <div class="row">
            <div class="col">
              
              <h1 class="text-center fs-h3">د.ناصر عـبـدالــغني عبدالـ ـغني ناصر آل عبدال ــغني</h1>
              <h1 class="text-center fs-h3">Nasser Abdulghani A. N. Al Abdulghani</h1>
              <h1 class="text-center fs-h5">Email: dr.nasseroffice@elnaaelgroup.com</h1>
              <h1 class="text-center fs-h5">Mob No. +974 55 80 45 38 | Tel No. +974 44 60 66 11 | P.O. Box 15405, Doha-Qatar</h1>
            <hr class="letterHeader">
            </div>
          </div>
          <div class="row">
            
            <div class="col-6">
           
                <div class="my-5">
                  <p class="h4">The Manager </p>
                  <p class="h4"><%=foundItems[0].payment_from%></p>
                
                  <p class="h4">Doha-Qatar </p>
                </div>
            </div>
            <div class="col-6">
              <div class="row"> 
                <div class="col-4"></div>

                <div class="col-8">
                  <div class="my-5">
                    <p class="h4">Ref: NA-22/02</p>
                    <p class="h4">Dated:  <%- new Date().toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' })%></p>
                  </div>
                </div>
             
              </div>
            </div>
     
          </div>
          <h1 class="text-start fs-h4 mt-3">  Could you please proceed below wire transfer with immediate effect and debit my account No. 001-095868-001 with you.</h1>

          <table class="table table-transparent table-responsive datatable mt-1">
            <thead>
              <tr>
                <th class="w-5"></th>
                <th class="w-2"></th>
                <th class="w-10"></th>
              </tr>
           
            </thead>
            <tbody >
            <tr>

              <td>
                <p class="fs-h4 mb-1">AMOUNT</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].currency%>.  <%= parseFloat(foundItems[0].amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].currency%>.   <%=foundItems[0].amountInWords%></p>

              </td>
       
            </tr>
            <tr>

              <td>
                <p class="fs-h4 mb-1">TRANSFER CHARGE</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].transfer_charge%></p>
              </td>
       
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1">BENEFICIARY</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].b_name%></p>
              </td>
              
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1 ">BENEFICIARY ADDRESS</p>
              </td>
              <td>
                <p class="fs-h4 strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].b_address%></p>
              </td>
              
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1">IBAN NO</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].iban_no%></p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1">SWIFT CODE</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"><%=foundItems[0].swift_code%></p>
              </td>
         
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1">BANK</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].bank_name%></p>
              </td>
     
            </tr>
            <tr>
              <td>
                <p class="fs-h4 mb-1">REASON</p>
              </td>
              <td>
                <p class="strong">:</p>
              </td>
              <td>
                <p class="fs-h4 strong mb-1"> <%=foundItems[0].transfer_purpose%></p>
              </td>
            
       
            </tr>
            
           
          </tbody>
          </table>
          <div class="row">
            <div class="col">
              <div class="my-3">
                <h1 class="text-start fs-h4 mt-3">  Thank you.</h1>
              </div>
              <div class="mt-5">
                <h1 class="text-start strong fs-h4 mt-5">NASSER ABDULGHANI A N AL ABDULGHANI</h1>
              </div>
           
          

            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>


        
 <%- include('layout/footer') %>