
<%- include('layout/header') %>

<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Payment Voucher Detail
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <button type="button" class="btn btn-primary" onclick="javascript:window.print();">
            <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><rect x="7" y="13" width="10" height="8" rx="2" /></svg>
            Print Voucher
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="card card-lg">
        <div class="card-body">
          <div class="row">
          

            <div class="col-6">
              <div class="col-12 mt-5">
                <h1 class="fw-bolder">EL NAAEL COMPANY W.L.L</h1>
              </div>
            </div>

            <div class="col-6 text-end">
              <div class="col-12 mt-5">
                <h1>د.ناصر عـبـدالــغني </h1>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col-12 mt-5 text-center">
                <h2>Bank Payment Voucher</h2>
              </div>

            </div>
          </div>
          <div class="row">
          

            <div class="col-6">
          
                <div class="my-5">
                  <p class="h3">CR. </p>
                  <address>
                    65753213216 <br>
                    Arab Bank <br>
                    DR. Nasser Abdulghani<br>
                  </address>
                </div>
            </div>

            <div class="col-6 text-end">
              <div class="my-5">
                <ul class="list-unstyled lh-lg fs-h4">
                  <li> Vr. No.  <strong>  <%=foundItems.payment_voucher_no%></strong></li>
                  <li> Date:  <strong>  <%=foundItems.date%></strong></li>
                  <li> Amount:  <strong>QAR  <%= (foundItems.total_payment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></strong></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="strong mb-1 ">Paid to Mr/Ms.</div>
            </div>
           <div class="col py-0 ">
            
            <div class=" py-0 "><%=foundItems.supplier_name%></div>
            <hr class="pvContent py-0 ">
           </div>
         
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="strong mb-1 ">a sum of Qatari Riyals</div>
            </div>
           <div class="col py-0 ">
            
            <div class=" py-0 "> <%=foundItems.amountInWords%></div>
            <hr class="pvContent py-0 ">
           </div>
         
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="strong mb-1 ">Being</div>
            </div>
           <div class="col py-0 ">
            
            <div class=" py-0 "> <%=foundItems.description%></div>
            <hr class="pvContent py-0 ">
           </div>
         
          </div>
          <div class="row mb-3">
            <div class="col-auto">
              <div class="strong mb-1 ">towards the settlement of the following bills.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
                <table class="table table-transparent table-responsive datatable mb-5">
                  <thead>
                    <tr>
                      <th class="w-10"> Bill No</th>
                      <th class="w-10">Date</th>
                      <th class="text-end">Amount</th>
                    </tr>
                
                  </thead>
                  <tbody >
                    <%  foundBills.forEach(function(bill){ %>
                      <tr>

                        <td>
                          <div > <%=bill.bill_number%></div>
                        </td>
                        <td>
                          <div> <%=bill.bill_date%></div>
                        </td>
                        <td>
                          <div class="strong text-end"><%= (bill.total_payment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></div>
                        </td>
                
                      </tr>
                      <%  }) %>
                  </tbody>
                </table>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
            <p class="text-muted text-center">Prepared by</p>
            </div>
            <div class="col-3">
            <p class="text-muted text-center">Checked by</p>
            </div>
            <div class="col-3">
            <p class="text-muted text-center">Approved by</p>
            </div>
            <div class="col-3">
              <p class="text-muted text-center">Receiver's Signature</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


        
<%- include('layout/footer') %>