<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title><%= title %></title>
    <!-- CSS files -->
    <link href="../dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="../dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="../dist/css/demo.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    </head>

  <body >
    <div class="page">
      <div class="sticky-top">
        <header class="navbar navbar-expand-md navbar-light sticky-top d-print-none">
          <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
              <a href="/">
                <h4 class="fw-bolder text-muted">EL NAAEL GROUP HOLDING CO W.L.L</h4> 
              </a>
            </h1>
            <div class="navbar-nav flex-row order-md-last">
             
              
                <div class="nav-item dropdown d-none d-md-flex me-3">
                  <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable dark mode">
                    <i class="ti ti-moon fs-2"></i> 
                  </a>
                  <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable light mode">
                    <i class="ti ti-sun-high fs-2"></i>
                  </a>
                 
                </div>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                  <span class="avatar avatar-sm" style="background-image: url(../static/avatars/user-avatar.png)"></span>
                  <div class="d-none d-xl-block ps-2">
                    <div><%= user.userName %></div>
                    <div class="mt-1 small text-muted"><%= user.userRole %></div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                   <%- (user.userRole) == 'Hokage' ?  '<a href="/hima-the-hokage" class="dropdown-item">Settings</a>' : '' %>       
                  <a href="/logout" class="dropdown-item">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </header>

        <% if (message) { %>
          <div class="alert-notif2">
            <div class="alert alert-important alert-<%= message.type %> alert-dismissible alertNotif2" role="alert">
              <div class="d-flex">
                <div class="fw-light">
                  <% if (message.type === 'danger'){ %>
                  <i class="ti ti-alert-triangle fs-2 me-2"></i>
                  <% }else{ %>
                  <i class="ti ti-check fs-2 me-2"></i>  
                  <% } %>
                  <%= message.message %>
                </div>
              </div>
              <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
          </div>
      <% } %>

      <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li class="nav-item <%- (nav.title) == 'Dashboard' ? 'active' : ''  %> ">
                  <a class="nav-link" href="/" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="ti ti-home-stats fs-2"></i>
                    </span>
                    <span class="nav-link-title"> Dashboard </span>
                  </a>
                </li>
                <li class="nav-item dropdown <%- (nav.title) == 'Accounts' ? 'active' : ''  %> ">
                  <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="ti ti-presentation-analytics fs-2"></i>
                  </span>
                    <span class="nav-link-title">
                      Accounts
                    </span>
                  </a>
                  <div class="dropdown-menu ">
                    <a class="dropdown-item <%- (nav.title) == 'Accounts' && (nav.child) == 'Bank' ?  'active' : ''  %>" href="/bank-accounts">Bank </a>
                    <a class="dropdown-item <%- (nav.title) == 'Accounts' && (nav.child) == 'Suppliers' ?  'active' : ''  %>" href="/supplier-accounts">Suppliers</a>
                  </div>
                </li>
                <li class="nav-item dropdown <%- (nav.title) == 'Settings' ? 'active' : ''  %>">
                  <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="ti ti-adjustments-horizontal fs-2"></i>
                  </span>
                    <span class="nav-link-title">Settings</span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item <%- (nav.title) == 'Settings' && (nav.child) == 'Master' ?  'active' : ''  %>" href="/master">Master </a>
                     <a class="dropdown-item <%- (nav.title) == 'Settings' && (nav.child) == 'System Settings' ?  'active' : ''  %>" href="/system-settings">System Settings</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

 

      <script>
        $(document).ready(function() {
          setTimeout(function() {
          $(".alertNotif2").alert('close');
          }, 5000);
        });
      </script>